#projects {
  padding-bottom: 50px;
}

#projects h1 {
  margin-bottom: 50px;
  text-align: center;
  color: #ffcf17;
}
.projects-container {
  display: flex;
  justify-content: space-around;
}
.project-card {
  border: none;
  border-radius: 10px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}
.project-image {
  height: 150px;
  width: 350px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.project-image img {
  width: 100%;
  border: none;
  border-radius: 10px;
}
.project-title {
  margin-bottom: 20px;
}
.project-github {
  padding: 7px 10px;
  border: none;
  border-radius: 15px;
  transition: 0.2s;
}
.project-github a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.project-github a span {
  margin-left: 5px;
}
.project-github:hover {
  background-color: #ffcf17;
}
